<div class="blade-content __medium-wide">
    <div class="blade-inner">
        <div class="inner-block">
            <form name="detailForm">
                <fieldset ng-init="setForm(detailForm)">
                    <div class="columns clearfix">
                        <div class="column">
                            <div class="form-group">
                                <label class="form-label">{{'customerReviews.blades.review-details.labels.moderated' | translate}}</label>

                                <div class="form-input">
                                    <label class="form-label __switch">
                                        <input type="checkbox" ng-model="blade.item.isActive" />
                                        <span class="switch"></span>
                                    </label>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="columns clearfix">
                        <div class="column">
                            <div class="form-group __info list">
                                <label class="form-label">{{ 'customerReviews.blades.review-details.labels.createdDate' | translate }}</label>

                                <div class="form-input">
                                    <input ng-model="blade.item.createdDate" datepicker-popup="" readonly />
                                </div>
                            </div>
                        </div>

                        <div class="column">
                            <div class="form-group __info list">
                                <label class="form-label">{{ 'customerReviews.blades.review-details.labels.modifiedDate' | translate }}</label>

                                <div class="form-input">
                                    <input ng-model="blade.item.modifiedDate" datepicker-popup="" readonly />
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="columns clearfix">
                        <div class="column">
                            <div class="form-group">
                                <label class="form-label">{{ 'customerReviews.blades.review-details.labels.content' | translate }}</label>

                                <div class="form-input">
                                    <textarea placeholder="{{ 'customerReviews.blades.review-details.placeholders.content' | translate }}"
                                              ng-model="blade.item.content"
                                              name="itemContent"
                                              ui-validate="'blade.codeValidator($value)'"
                                              required cols="30" rows="2"
                                              class="__small"
                                              ng-class="{'error': detailForm.itemContent.$invalid && !detailForm.itemContent.$pristine}" readonly></textarea>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="columns clearfix">
                        <div class="column">
                            <div class="form-group __info list">
                                <label class="form-label">{{ 'customerReviews.blades.review-details.labels.rating' | translate }}</label>

                                <div class="form-input">
                                    <input ng-model="blade.item.rating" readonly />
                                </div>
                            </div>
                        </div>
                        <div class="column">
                            <div class="form-group __info list">
                                <label class="form-label">{{ 'customerReviews.blades.review-details.labels.liked' | translate }}</label>
                                <i class="fa fa-thumbs-up"></i>
                                <div class="form-input">
                                    <input ng-model="blade.item.likeCount" readonly />
                                </div>
                            </div>
                        </div>
                        <div class="column">
                            <div class="form-group __info list">
                                <label class="form-label">{{ 'customerReviews.blades.review-details.labels.disliked' | translate }}</label>
                                <i class="fa fa-thumbs-down"></i>
                                <div class="form-input">
                                    <input ng-model="blade.item.dislikeCount" readonly />
                                </div>
                            </div>
                        </div>
                    </div>
                </fieldset>

            </form>
        </div>
    </div>
</div>
